.m-t10{
    margin-top: 5vh;
}
.bg-blue-dark-admon{
    background: #01475e ;
    color: #fff;
}
.bg-red-back{
    background: #cc3300 ;
    color: #fff;
}
.bg-blue-front{
    background: #006080  ;
    color: #fff;
}

.bg-blue{
    background: #035d7a  ;
    color: #fff;
}

.bg-orange{
    background: #975306  ;
    color: #fff;
}

.bg-green{
    background: #00804b  ;
    color: #fff;
}

.bg-red{
    background: #790800  ;
    color: #fff;
}