<!DOCTYPE html>
<html lang="fr"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>CURRICULUM VITAE</title>

<!-- Fichiers CSS -->
<link rel="stylesheet" href="../../../app/css/backend/jcreset.css">
<link rel="stylesheet" media="screen and (min-width:481px)" href="../../../app/css/backend/jccv.css">
</head>

<body>

	<!-- Header -->
	<header role="banner">
		<div class="container_16">
				<hgroup>
					<h1>Juan Carlos Arellano</h1>
					<h2>Estudiante</h2>
				</hgroup>

				<figure>
					<img src="../../../app/img/backend/jcdeveloper.jpg" alt="avatar">
				</figure>
		</div>
	</header>
	
	
	
	<!-- Corps -->
	<section role="main" class="container_16 clearfix">
		<div class="grid_16">
			<!-- A propos -->
			<div class="grid_8 apropos">
				<h3>Perfil</h3>
				<p>Soy estudiante de Ingeniería de Sistemas Computacionales de la Universidad Tecnica del Norte de la ciudad Ibarra-Ecuador, me gusta aprender nuevas cosas referente al desarrollo de software. </p>
			</div>
			
			<!-- Compétences -->
			<div class="grid_8 competences">
				<h3>Conocimientos</h3>
				<ul class="barres">
					<li data-skills="80">Java<span style="width: 80%;"></span></li>
					<li data-skills="80">SQLServer<span style="width: 80%;"></span></li>
					<li data-skills="70">MySQL<span style="width: 70%;"></span></li>
					<li data-skills="60">Primeface<span style="width: 60%;"></span></li>
					<li data-skills="45">C#<span style="width: 45%;"></span></li>
				</ul>
			</div>
		</div>
		
			

</body>
</html>