<html>
    <head>
        <title>Curriculum Vitae</title>
        <link rel="stylesheet" href="../../../app/css/backend/css.cv.CristianArcona.css">
    </head>
    <body>
        <h1><u>CURRICULUM VITAE</u></h1>
        <br>
        <span>
            <h2>DATOS PERSONALES</h2>
            <hr/>
            <p><b>Nombre y Apellidos:</b> Cristian Gabriel Castro Arcona</p>
            <p><b>Telefono:</b> +591 69958966</p>
            <p><b>Email:</b> cristian.arcona.9421.2@gmail.com</p>
            <p><b>Edad:</b> 25 años</p>
            <p><b>Ciudad - Pais:</b>  La Paz - Bolivia</p>
        </span>
        <div style= float:left>
            <h2>FORMACION Y ESTUDIOS</h2>
            <hr/>
            <p>Institución formadora: INFOCAL</p>
            <p>Titulación: Técnico Superior en Analista de Sistemas</p>
            <br>
            <p>Institución formadora: Universidad Mayor de San Andrés UMSA</p>
            <p>Titulación: Estudiante en Informática</p>
        </div>
        <div style= float:right>
            <h2>EXPERIENCIA PROFESIONAL</h2>
            <hr/>
            <p>Empresa: DETESIM</p>
            <p>Puesto/Actividad desarrollada: Desarrollador de Software (ASP.net, SQL Server, C#) </p>
            <br>
        </div>
    </body>
</html>