<!DOCTYPE html>
<html class="no-js">
<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>Ricardo Zerbato</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- CSS -->
     <link rel="stylesheet" href="../../css/backend/style.owl.carousel.ricardozerbato.css">
     <link rel="stylesheet" href="../../css/backend/style.bootstrap.min.ricardozerbato.css">
     <link rel="stylesheet" href="../../css/backend/style.font-awesome.min.ricardozerbato.css">
     <link rel="stylesheet" href="../../css/backend/style.style.ricardozerbato.css">
     <link rel="stylesheet" href="../../css/backend/style.ionicons.min.ricardozerbato.css">
     <link rel="stylesheet" href="../../css/backend/style.animate.ricardozerbato.css">
     <link rel="stylesheet" href="../../css/backend/style.responsive.ricardozerbato.css">

     <!-- Js -->
     <script src="../../js/backend/vendor/ctrl.modernizr-2.6.2.min.ricardozerbato.js"></script>
     <script src="../../js/backend/ctrl.jquery-3.0.0.ricardozerbato.js"></script>
     <script src="../../js/backend/ctrl.bootstrap.min.ricardozerbato.js"></script>
     <script src="../../js/backend/ctrl.owl.carousel.min.ricardozerbato.js"></script>
     <script src="../../js/backend/ctrl.plugins.ricardozerbato.js"></script>
     <!--<script src="../../js/backend/min/ctrl.waypoints.min.ricardozerbato.js"></script>-->
     <script src="../../js/backend/ctrl.jquery.counterup.ricardozerbato.js"></script>
     <script src="../../js/backend/ctrl.main.ricardozerbato.js"></script>

</head>
<body>
     <!-- Header Start -->
     <header>
          <div class="container" id="inicio">
               <div class="row">
                    <div class="col-md-12">
                         <!-- header Nav Start -->
                         <nav class="navbar navbar-default">
                              <div class="container-fluid">
                                   <!-- Brand and toggle get grouped for better mobile display -->
                                   <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                             <span class="sr-only">Toggle navigation</span>
                                             <span class="icon-bar"></span>
                                             <span class="icon-bar"></span>
                                             <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="view.cv.ricardozerbato.html">
                                             <img src="../../img/backend/mi-logo.ricardozerbato.png" alt="Logo">
                                        </a>
                                   </div>
                                   <!-- Collect the nav links, forms, and other content for toggling -->
                                   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav navbar-right">
                                             <li><a href="#inicio" class="ancla">Inicio</a></li>
                                             <li><a href="#sobremi" class="ancla">Sobre Mi</a></li>
                                             <li><a href="#encontrame" class="ancla">Encontrame</a></li>
                                             <li><a href="#habilidades" class="ancla">Mis Habilidades</a></li>
                                        </ul>
                                   </div><!-- /.navbar-collapse -->
                              </div><!-- /.container-fluid -->
                         </nav>
                    </div>
               </div>
          </div>
     </header><!-- header close -->

     <!-- Slider Start -->
     <section id="slider">
          <div class="container">
               <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                         <div class="block">
                              <h1 class="animated fadeInUp"><b>Ricardo Zerbato</b></h1>
                              <p class="animated fadeInUp"Bienvenidos a mi portfolio personal online.<br> Aquí es donde juego, investigo y practico con mis habilidades <br> de desarrollo y donde podrás saber algo más <br> acerca de mi o de mis trabajos.</p>
                         </div>
                    </div>
               </div>
          </div>
     </section>
     <!-- Wrapper Start -->
     <section id="intro">
          <div class="container">
               <div class="row">
                    <div class="col-md-7 col-sm-12">
                         <div class="block">
                              <div class="section-title">
                                   <h2 id="sobremi">Sobre Mi</h2>
                                   <p>Hola!, mi nombre es Ricardo Zerbato tengo 34 años y vivo en Río Cuarto - Córdoba - Argentina. 
                                        Soy consultor ERP y un desarrollador web apasionado por su trabajo. 
                                        Tengo más de 9 años de experiencia como consultor JD Edwards y varios proyectos en los que he participado 
                                        y realizado desde cero...</p>
                              </div>
                              <p>Junto dos perfiles, que generalmente están distanciados... La consultoria en JD Edwards y el desarrollo web.<br>
                                   Hace mas de nueve años que me desempeño como consultor técnico en JD Edwards y hace un par de años incursiono en el
                                   apasionante mundo del desarrollo web realizando desarrollos para empresas, profesionales y particulares.
                              </p>
                         </div>
                    </div><!-- .col-md-7 close -->
                    <div class="col-md-5 col-sm-12">
                         <div class="block">
                              <img src="../../img/backend/wrapper-img.ricardozerbato.gif" alt="Img">
                         </div>
                    </div><!-- .col-md-5 close -->
               </div>
          </div>
     </section>

     <section id="feature">
          <div class="container" id="encontrame">
               <div class="row">
                    <div class="col-md-6 col-md-offset-6 social-media">
                         <h2>Encontrame en las <br>Redes Sociales</h2>
                         <div class="row social-media">
                              <div class="col-sm-1 col-md-4">
                                   <a href="https://www.linkedin.com/in/ricardo-zerbato-6b54a916" target="_blank" class="btn btn-default"><i class="fa fa-linkedin"></i></a>
                              </div>
                              <div class="col-sm-1 col-md-4">
                                   <a href="https://www.facebook.com/ricardo.zerbato" target="_blank" class="btn btn-default"><i class="fa fa-facebook"></i></a>
                              </div>
                              <div class="col-sm-1 col-md-4">
                                   <a href="https://twitter.com/el_richardOK" target="_blank" class="btn btn-default"><i class="fa fa-twitter"></i></a>
                              </div>
                              <div class="col-sm-1 col-md-4 col-md-offset-2">
                                   <a href="skype:ricardo.zerbato?chat" class="btn btn-default"><i class="fa fa-skype"></i></a>
                              </div>
                              <div class="col-sm-1 col-md-4">
                                   <a href="https://plus.google.com/u/0/103777306289951237382" target="_blank" class="btn btn-default"><i class="fa fa-google-plus"></i></a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <!-- Service Start -->
     <section id="service">
          <div class="container" id="habilidades">
               <div class="row">
                    <div class="section-title">
                         <h2>Mis Habilidades</h2>
                         <p></p>
                         <div class="row">
                              <div class="col-sm-3">
                                   <ul>
                                        <li>
                                             PHP
                                        </li>
                                        <li>
                                             Yii Framework
                                        </li>
                                        <li>
                                             java
                                        </li>
                                        <li>
                                             JD Edwards
                                        </li>
                                   </ul>
                              </div>
                              <div class="col-sm-3">
                                   <ul>
                                        <li>
                                             CSS3
                                        </li>
                                        <li>
                                             JavaScript
                                        </li>
                                        <li>
                                             JQuery
                                        </li>
                                        <li>
                                             Bootstrap
                                        </li>

                                   </ul>
                              </div>
                              <div class="col-sm-3">
                                   <ul>
                                             Git
                                        </li>
                                        <li>
                                             MySQL
                                        </li>
                                        <li>
                                             Scrum
                                        </li>

                                        <li>
                                             Linux
                                        </li>
                                   </ul>
                              </div>
                              <div class="col-sm-3">
                                   <ul>
                                        <li>
                                             Apache
                                        </li>
                                        <li>
                                             Tomcat
                                        </li>
                                        <li>
                                             Wordpress
                                        </li>
                                        <li>
                                             HTML5
                                        </li>
                                   </ul>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>
     <!-- footer Start -->
     <footer>
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div class="footer-manu">
                              <ul>
                                   <li><a href="#inicio" class="ancla">Inicio</a></li>
                                   <li><a href="#sobremi" class="ancla">Sobre Mi</a></li>
                                   <li><a href="#encontrame" class="ancla">Encontrame</a></li>
                                   <li><a href="#habilidades" class="ancla">Mis Habilidades</a></li>
                              </ul>
                         </div>
                    </div>
               </div>
          </div>
          <a class="go-top" href="#"><i class="fa fa-angle-up fa-2x"></i></a>

     </footer>


     


     <script type="text/javascript">
          $('.ancla').click(function(){
               $('html, body').stop().animate({
                    scrollTop: $($(this).attr('href')).offset().top
               }, 2000);
               return false;
          });

          // Show or hide the sticky footer button
          $(window).scroll(function() {
               if ($(this).scrollTop() > 200) {
                    $('.go-top').fadeIn(200);
               } else {
                    $('.go-top').fadeOut(200);
               }
          });

          // Animate the scroll to top
          $('.go-top').click(function(event) {
               event.preventDefault();
               $('html, body').animate({scrollTop: 0}, 3000);
          });


     </script>
</body>
</html>
