<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../css/bootstrap.3.3.7.css">
    <link rel="stylesheet" href="../../../css/font-awesome.css">
    <link rel="stylesheet" href="../../../app/css/backend/css.cv.westlymeza.css">
    <title>Westly Meza</title>
</head>

<body>
    <div class="container-fluid">
        <header class="header text-center">
            <div class="jumbotron">
                <h1><i class="far fa-file-code"></i> Westly Meza</h1>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <table class="table">
                        <thead class="thead-dark ">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Experiencia</th>
                                <th scope="col">Descripción</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td><strong>Analista programador</strong></td>
                                <td><strong>Management System Corporate (febrero 2018 - actualidad)</strong>
                                    <ul>
                                        <li>Realización de análisis de requerimientos y lógica de negocio en sistema
                                            <strong>ERP</strong></li>
                                        <li>Diseño de de bases de datos <strong>SQL Server</strong></li>
                                        <li>Desarrollo escritorio y de web con <strong>Vb.net</strong> y
                                            <strong>C#</strong></li>
                                    </ul>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td><strong>Ganador en Fería Tecnológica</strong></td>
                                <td>Ganador de primer lugar en Feria de Ciencia y Tecnología UNI 2016 en la Categoría
                                    Informática,
                                    con sistema de facturacíon y control de inventarío hecho en <strong>Java</strong>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td><strong>Ganador en Fería Tecnológica</strong></td>
                                <td>Ganador de primer lugar en Feria de Tecnológica (UNI-IES) 2016
                                    con sistema de facturacíon y control de inventarío hecho en <strong>Java</strong>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-5 col-sm-12">
                    <table class="table">
                        <thead class="thead bg-primary">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Habilidades</th>
                                <th scope="col">Lenguajes</th>
                                <th scope="col">Frameworks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Trabajo en quipo, Analisís de lógica de negocio empresarial</td>
                                <td>Visual Basic, C#, Transact SQL, JavaScript, Java,PHP , HTML y CSS </td>
                                <td>Bootstrap, Materialize, React, Express</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>


</body>
<script type="text/javascript" src="../../../ext/jquery.3.4.1.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</html>