<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>.: Luis Dávila :.</title>
	<link rel="stylesheet" href="../../../css/backend/css.cv.luisdavila.css">
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="../../../js/backend/ctrl.cv.luisdavila.js"></script>
</head>

<body>
	<div id="contenido">
		<header>
			<hgroup>
				<h1>Mi Curriculum Vitae</h1>
			</hgroup>
			<nav>
				<ul>
					<li><a href="view.cv.luisdavila.html"> Información </a></li>
					<li><a href="view.cv.est.luisdavila.html"> Estudios </a></li>
					<li><a href="view.cv.con.luisdavila.html"> Conocimientos </a></li>
					<li><a href="view.cv.exp.luisdavila.html"> Experiencia </a></li>
					<li><a href="view.cv.her.luisdavila.html"> Herramientas </a></li>
				</ul>
			</nav>
		</header>
		<section>
			<div id="textoPr">
				<article>
					<br><br>
					<table border="1" align="center">
						<tr>
							<td align="center">
								<hgroup>
									<h1>Tipo</h1>
								</hgroup>
							</td>
							<td align="center">
								<hgroup>
									<h1>Herramientas</h1>
								</hgroup>
							</td>
						</tr>
						<tr>
							<th>Backend</th>
							<td>Java, Servlet, PHP</td>
						</tr>
						<tr>
							<th>Frontend</th>
							<td>Java Script, HTML, CSS</td>
						</tr>
						<tr>
							<th>Base de Datos</th>
							<td>MySQL, PostGres, Teradata, Netezza, Oracle SQL developer,
								PL/SQL
							</td>
						</tr>
						<tr>
							<th>Versionamiento</th>
							<td>Git, GitHub</td>
						</tr>
						<tr>
							<th>S.O.</th>
							<td>Linux, Unix, Windows 10</td>
						</tr>
						<tr>
							<th>Adm Proyectos</th>
							<td>UML, Bizagi, Scrum</td>
						</tr>
						<tr>
							<th>Tools</th>
							<td>Netbeans, Eclipse, Android Studio, IReport, VSCode, Workbench MySQL, SQL Asistant, PHPadmin,
								Aginity Workbench, ControlM, Ambari, NIFI, Datastage 11.7 </td>
						</tr>
					</table>					
				</article>
			</div>
		</section>
		<aside>
			<p><a href="../../../../index.html"> Menú Principal </a> </p>
		</aside>
	</div>
	<footer>
		<canvas id="miCanvas"></canvas>
	</footer>
</body>

</html>