<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>.: Luis Dávila :.</title>
    <link rel="stylesheet" href="../../../css/backend/css.cv.luisdavila.css">
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="../../../js/backend/ctrl.cv.luisdavila.js"></script>
</head>

<body>
    <div id="contenido">
        <header>
            <!--Indica el encabezado de la página -->
            <hgroup>
                <!--Para no confundir al navegador con nuestros encabezados y sea más rápido su búsqueda-->
                <h1>Mi Curriculum Vitae</h1>
            </hgroup>
            <nav>
                <!--Botonera de navegacion y definir las listas -->
                <ul>
                    <li><a href="../LuisDavila/view.cv.luisdavila.html"> Información </a></li>
                    <li><a href="../LuisDavila/view.cv.est.luisdavila.html"> Estudios </a></li>
                    <li><a href="../LuisDavila/view.cv.con.luisdavila.html"> Conocimientos </a></li>
                    <li><a href="../LuisDavila/view.cv.exp.luisdavila.html"> Experiencia </a></li>
                    <li><a href="../LuisDavila/view.cv.her.luisdavila.html"> Herramientas </a></li>
                </ul>
            </nav>
        </header>
        <section>
            <!--Indica a los robots seo que es una sección nueva de la página (Semántica)-->
            <div id="textoPr">
                <article>
                    <table border="0" align="center">
                        <th colspan="2" align="center">
                            <hgroup>
                                <h1>Información Personal</h1>
                            </hgroup>
                        </th>
                        <tr>
                            <td><img src="../../../img/luisdavila.png" height="100" width="90"></td>
                            <td>
                                <p> <b> Nombres y Apellidos:</b> Luis Alberto Dávila Rodriguez <br>
                                    <b> Nivel Académico:</b> Bachiller Ingeniería Sistemas e Informática <br>
                                    <b> Correo:</b> luidavrod@gmail.com <br>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <hgroup>
                        <h1>Habilidades</h1>
                    </hgroup>
                    <ul>
                        <li>Responsabilidad</li>
                        <li>Comprometido</li>
                        <li>Proactivo</li>
                        <li>Análisis y Diseño</li>
                        <li>Trabajo en equipo</li>
                        <li>Puntualidad</li>
                        <li>Autodidacta</li>
                    </ul>
                </article>
            </div>
        </section>
        <aside>
            <p><a href="../../../../index.html"> Menú Principal </a></p>
        </aside>
    </div>
    <footer>
        <canvas id="miCanvas"></canvas>
    </footer>
</body>
</html>