<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>.: Luis Dávila :.</title>
	<link rel="stylesheet" href="../../../css/backend/css.cv.luisdavila.css">
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="../../../js/backend/ctrl.cv.luisdavila.js"></script>
</head>

<body>
    <div id="contenido">
        <header>
            <hgroup>
                <h1>Mi Curriculum Vitae</h1>
            </hgroup>
            <nav>
                <ul>
                    <li><a href="view.cv.luisdavila.html"> Información </a></li>
                    <li><a href="view.cv.est.luisdavila.html"> Estudios </a></li>
                    <li><a href="view.cv.con.luisdavila.html"> Conocimientos </a></li>
                    <li><a href="view.cv.exp.luisdavila.html"> Experiencia </a></li>
                    <li><a href="view.cv.her.luisdavila.html"> Herramientas </a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div id="textoPr">
                <article>
					<br><br><br>
					<table border="1" align="center">
					<tr>
						<td>
							<hgroup>
								<h1>Lenguajes Programación</h1>
							</hgroup>
						</td>
						<td>
							<hgroup>
								<h1>Base de Datos</h1>
							</hgroup>
						</td>
					</tr>
					<tr>
						<td>
							<ul>
								<li>Java</li>
								<li>.Net</li>
								<li>PHP</li>
								<li>Cobol</li>
								<li>Shell Unix</li>
								<li>AS/400</li>
								<li>Android</li>
							</ul>                    
						</td>
						<td>							
							<ul>
								<li>Oracle</li>
								<li>MySQL</li>
								<li>PostGres</li>
								<li>SQL Server</li>
								<li>Teradata</li>
								<li>DB2</li>
								<li>Netezza</li>
							</ul>    
							
						</td>
					</tr>
					</table>
                    
                </article>                
            </div>
		</section>
		<aside>
				<p><a href="../../../../index.html"> Menú Principal </a> </p>
		</aside>
    </div>
    <footer>
        <canvas id="miCanvas"></canvas>
    </footer>
</body>

</html>