<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>.: Luis Dávila :.</title>
    <link rel="stylesheet" href="../../../css/backend/css.cv.luisdavila.css">
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="../../../js/backend/ctrl.cv.luisdavila.js"></script>
</head>

<body>
    <div id="contenido">
        <header>
            <hgroup>
                <h1>Mi Curriculum Vitae</h1>
            </hgroup>
            <nav>
                <ul>
                    <li><a href="view.cv.luisdavila.html"> Información </a></li>
                    <li><a href="view.cv.est.luisdavila.html"> Estudios </a></li>
                    <li><a href="view.cv.con.luisdavila.html"> Conocimientos </a></li>
                    <li><a href="view.cv.exp.luisdavila.html"> Experiencia </a></li>
                    <li><a href="view.cv.her.luisdavila.html"> Herramientas </a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div id="textoPr">
                <article>
                    <table border="1" align="center">
                        <th colspan="4" align="center">
                            <hgroup>
                                <h1>Experiencia Laboral</h1>
                            </hgroup>
                        </th>
                        <tr id="subExp">
                            <td>Puesto</td>
                            <td>Descripción</td>
                            <td>Empresa</td>
                            <td>Duración</td>
                        </tr>
                        <tr>
                            <td>Analista</td>
                            <td>Analizar, Gestionar, Identificar oportunidades de mejora y optimizaciones en los
                                procesos DWH y Big Data.
                                Elaboración de reportes pertinentes del área bi. Manejo de Queries usuarios.
                            </td>
                            <td>Tgestiona</td>
                            <td>1 año</td>
                        </tr>
                        <tr>
                            <td>Analista Funcional</td>
                            <td>Gestión de Catálogos productivos del área de negocio de TDP, migración de nuevos
                                catálogos.</td>
                            <td>Indra</td>
                            <td>4 meses</td>
                        </tr>
                        <tr>
                            <td>Consultor BI</td>
                            <td>Gestión de incidencias N2, Gestión de corrección de errores procesos productivos,
                                entrega de reportes de acuerdo al servicio acordado.
                            </td>
                            <td>Delaware Peru SAC</td>
                            <td>3 años</td>
                        </tr>
                        <tr>
                            <td>Programador Cobol</td>
                            <td>Programación cobol-jcl, planificación y ejecución de procesos cor de TDP, generación de
                                reportes de usuarios, gestión de errores de producción.</td>
                            <td>Delaware Peru SAC</td>
                            <td>1 año</td>
                        </tr>
                    </table>
                </article>
            </div>
        </section>
        <aside>
            <p><a href="../../../../index.html"> Menú Principal </a></p>
        </aside>
    </div>
    <footer>
        <canvas id="miCanvas"></canvas>
    </footer>
</body>
</html>