<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>.: Luis Dávila :.</title>
    <link rel="stylesheet" href="../../../css/backend/css.cv.luisdavila.css">
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="../../../js/backend/ctrl.cv.luisdavila.js"></script>
</head>

<body>
    <div id="contenido">
        <header>
            <hgroup>
                <h1>Mi Curriculum Vitae</h1>
            </hgroup>
            <nav>
                <ul>
                    <li><a href="view.cv.luisdavila.html"> Información </a></li>
                    <li><a href="view.cv.est.luisdavila.html"> Estudios </a></li>
                    <li><a href="view.cv.con.luisdavila.html"> Conocimientos </a></li>
                    <li><a href="view.cv.exp.luisdavila.html"> Experiencia </a></li>
                    <li><a href="view.cv.her.luisdavila.html"> Herramientas </a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div id="textoPr">
                <article>
                    <table border="0" align="center">
                        <th colspan="2" align="center">
                            <hgroup>
                                <h1>Estudios Realizados</h1>
                            </hgroup>
                        </th>
                        <tr>
                            <th>Universidad:</th>
                            <td>Univ. Tecnologica del Perú (UTP)</td>
                        </tr>
                        <tr>
                            <th>Grado:</th>
                            <td>Bachiller en Sistemas e Informática</td>
                        </tr>
                        <tr>
                            <th>Años:</th>
                            <td>2013 al 2016</td>
                        </tr>
                        <tr>
                            <td><br></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Escuela:</th>
                            <td>Univ. Tecnologica del Perú (UTP)</td>
                        </tr>
                        <tr>
                            <th>Curso:</th>
                            <td>Ingles Básico Intensivo</td>
                        </tr>
                        <tr>
                            <th>Año:</th>
                            <td>2015</td>
                        </tr>
                        <tr>
                            <td><br></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Escuela:</th>
                            <td>CJAVA PERU</td>
                        </tr>
                        <tr>
                            <th>Curso:</th>
                            <td>Java Programmer</td>
                        </tr>
                        <tr>
                            <th>Año:</th>
                            <td>2017</td>
                        </tr>
                        <tr>
                            <td><br></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Escuela:</th>
                            <td>Instituto Superior CIBERTEC</td>
                        </tr>
                        <tr>
                            <th>Curso:</th>
                            <td>Big Data</td>
                        </tr>
                        <tr>
                            <th>Año:</th>
                            <td>2018</td>
                        </tr>
                    </table>
                </article>
            </div>
        </section>
        <aside>
            <p><a href="../../../../index.html"> Menú Principal </a> </p>
        </aside>
    </div>
    <footer>
        <canvas id="miCanvas"></canvas>
    </footer>
</body>
</html>