body{
    background:white;
}
h1{
    text-align: center;
    background: rgb(37, 39, 172);
    padding: 15px;
    box-shadow: 10px 8px 5px grey;
}

h2 {
    color:black;
    background: rgb(37, 39, 172);
}
p {
    color:black;
}

span {
    margin: 10px 180px;
    /*background: rgb(42, 168, 59);
    border:5px solid #000;*/
    padding: 15px;
    display: block;
    box-shadow: 10px 8px 5px grey;
}
div {
    /*background: rgb(42, 168, 59);
    border:5px solid #000;*/
    margin: 10px 66px;
    padding: 20px;
    box-shadow: 10px 8px 5px grey;
    
}