*{
   margin-left: 25px;
   margin-right: 25px;
   margin-top: 10px;
   background: pink;
   font-size: 20px;
}

img {
width: 220px;
height: 220px;
border-radius: 50%;
}
table{
border-collapse: collapse;

}
.tStyle td{
    color: black;
    width: 500px;
    height: 30px;

}
.Sub{
    background: #640f7e;
}