<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Victor Cetre</title>
    <link rel="icon"
        href="https://lh3.googleusercontent.com/k7pDiJUqdx7h-w0mN4H1AxlbZjqKqRThb_4a7yowibZYODyOeUaQLzPyrgTeK1bRyWloP4xLC2zXTiF_b1tCps10X6ABEMwNfEXIoKVcW_ke-5SmStJAPuQ5xrainypM7UsmgriSAllcAfqGXDuQbJ8XQ5ZWtJGKvqu3vDowCCJmqllTcW0WShOd10fmOyfaF9PxW8MMZL7aKsBIPm3mEVnxMuzpWFm4hFRd_KdSej7OCpDYccEqNVeivOywNyFch3ROVKgWfMuiEgrVvzWl7FgAJrGyJ47Ymo5dbq6QWM2KNPb8AB4ldz5JJJI6apMmJA5_J_mg_aKVtXhPlErglq6czyvqM3RjC3WmPp8bkhELH6uGuHrr8mxCs5jlacrUJme2cb5Ftuy8_0gpmPWLSiN0JzPXsz38kIn8WMwl_I2BTGZk8bNOpZ8qcHgWeW_GnO4etCyjlSkkp3nGnU9zFm4DH39nKoKNrZN-0jXyhCQVLMm939NhGB6F0fKmB8Qk6sEXuntYnA8Ycb4FiSMSu3OK5DYEHiurii0E_A84LGLIcIVIC70JS_iXRXLRqYmMBz8Sy8FT_AF9MS0CV9rwcI2imm5kOP9XaViXgdcfU8wdSiJy_JITN0EGxat8ojorZPdYdI5J9x8IlWliVkXqDCF2aLMc3GI=s608-no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/frontend/css.cv.victorcetre.css">
</head>

<body>
    <div class="container">
        <div id="sobre">
            <div id="acerca">
                <h1 class="title">VICTOR CETRE</h1>
                <p class="subtitle"><strong> <span class="txt-rotate" data-period="2000"
                            data-rotate='["ING. SOFTWARE", "DESARROLLADOR WEB"]'></strong></span>
                </p>
                <img src="../../img/frontend/VictorCetre/avatar.svg" class="rounded-circle avatar" width="200px"
                    alt="Avatar Perfil">
                <ul class="redes">
                    <li class="list-inline-item"><a href="https://www.facebook.com/cetre.victor" target="_blank"><img
                                src="../../img/frontend/VictorCetre/facebook-3.svg" alt="Icono Facebook" width="40px">
                        </a>
                    </li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/victor-cetre/"
                            target="_blank"><img src="../../img/frontend/VictorCetre/linkedin-icon-2.svg"
                                alt="Icono GitHub" width="40px">
                        </a>
                    <li class="list-inline-item"><a href="https://github.com/victorcetre" target="_blank"><img
                                src="../../img/frontend/VictorCetre/github-1.svg" alt="Icono GitHub" width="40px">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="mailto:victor.cetre95@gmail.com"> <img
                                src="../../img/frontend/VictorCetre/gmail-icon-2.svg" alt="Icono Gmail"
                                width="40px"></a>
                    </li>
                </ul>
                <p>Soy Desarrollador y Diseñador Web, actualmente estudio ingeniería de
                    software. Soy responsable, proactivo, con ética, comprometido y trabajo colaborativo.</p>
                <p>Ser autodidacta es una forma de complementar mi estudio universirario me ayuda mucho a fortalecer y
                    emprender este mundo del desarrollo de software.</p>
            </div>
            <div class="habilidades, title"></div>
            <h2 class="title">HABILIDADES</h2>
            <p>Lenguajes de Programación y Herramientas Manejadas</p>
            <ul>
                <li class="list-inline-item"><img src="../../img/frontend/VictorCetre/java.svg" alt="Icono Java"
                        width="80px">
                </li>
                <li class="list-inline-item"><img src="../../img/frontend/VictorCetre/c.svg" alt="Icono C++"
                        width="80px">
                <li class="list-inline-item"><img src="../../img/frontend/VictorCetre/php.svg" alt="Icono PHP"
                        width="80px">
                </li>
                <li class="list-inline-item"><img src="../../img/frontend/VictorCetre/html5.svg" alt="Icono HTML5"
                        width="80px">
                </li>
                <li class="list-inline-item"><img src="../../img/frontend/VictorCetre/git-icon.svg" alt="Icono Git"
                        width="80px">
                </li>
                <li class="list-inline-item"><img src="../../img/frontend/VictorCetre/github-1.svg" alt="Icono GitHub"
                        width="80px">
                </li>
                <li class="list-inline-item"><img src="../../img/frontend/VictorCetre/wordpress-icon.svg"
                        alt="Icono WordPress" width="80px">
                </li>
            </ul>
            <div id="interes">
                <h2 class="title">INTERESES</h2>
                <p>Mí interes principal, el cual busco seguir mejorando cada día y disfruto es aprender nuevos lenguajes
                    de programación, por eso siempre busco el tiempo para aprender algo nuevo, estudiar y actualizarme
                    en los temas que me apasionan.</p>
                <p>Los videojuegos son un mundo amplio para explorar, en mi tiempo libre juego videojuegos.</p>
                </p>
            </div>
        </div>
    </div>
    <script src="../../js/frontend/ctrl.cv.VictorCetre.js"></script>
</body>

</html>
