<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CV Andres Lozano</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/frontend/css.cv.andreslozano.css">
    <link rel="stylesheet" href="../../../css/font-awesome.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="name">
                <h1>Andr&eacute;s Camilo Lozano</h1>
                <h4>Desarrollador Web</h4>
            </div>
            
            <div class="image">
                <img class="imagen-perfil" src="https://scontent.fclo1-1.fna.fbcdn.net/v/t1.0-9/65614392_10217583050141774_6095677857206370304_n.jpg?_nc_cat=110&_nc_oc=AQkgqkBKfvjrEQMDjCVqPNbp_46CZ4koK-1mHMb1B3w_6Rr2XE7AW1zVtNfrU78d6UY&_nc_pt=1&_nc_ht=scontent.fclo1-1.fna&oh=02e94b6242989bb6469acc836591114c&oe=5DCF393C">
            </div>
        </div>
    </header>

    <section class="container">
        <div class="row pb-5">
            <div class="col-6">
                <h3>Perfil Profesional</h3>
                <p class="text-justify">Soy un profesional comprometido con la investigación, liderazgo, trabajo en equipo y constante
                    renovación de mis habilidades y conocimiento. Me desenvuelvo bien en la toma de decisiones y 
                    resolución ágil de problemas.
                </p>
                <p class="text-justify">
                    Como tecnólogo en sistemas de información y futuro ingeniero de sistemas, mi formación académica
                    y laborar me he enfocado en el desarrollo de software backend y frontend. Actualmente me desempeño
                    como desarrollador web con mas de 5 años de experiencia en el campo de la salud.
                </p>
            </div>
            <div class="col-6">
                <h3>Informaci&oacute;n</h3>
                <p>
                    <ul class="fa-ul ul-info">
                        <li><i class="fa-li fa fa-user"></i>Edad: 26 A&ntilde;os</li>
                        <li><i class="fa-li fa fa-envelope-o"></i>andresclozano@gmail.com</li>
                        <li><i class="fa-li fa fa-mobile "></i>(57) 315 428 0732</li>
                        <li><i class="fa-li fa fa-map-marker "></i>Cali, Colombia</li>
                        <li><i class="fa-li fa fa-facebook-official"></i><a href="https://www.facebook.com/andres.lozano.792">Andrés Lozano</a></li>
                        <li><i class="fa-li fa fa-instagram"></i><a href="https://www.instagram.com/andreslozano12">Andrés Lozano</a></li>
                    </ul>
                </p>
            </div>
        </div>

        <!-- Experiencia -->
        <div class="row pb-5">
            <div class="col-12">
                <h3>Experiencia</h3>
                <ul class="ul-content">
                    <li>
                        <h4>Sql Siments LTDA</h4>
                        <strong>Analista Programador</strong> 
                        <small>(2013 - Actualidad)</small>
                        <p class="text-justify">
                            El producto Standard Health es una aplicación web enfocada en las clínicas u hospitales de Colombia,
                            en la aplicación es posible realizar diferentes procesos asistenciales como el 
                            manejo de historias clínicas, agenda médica, urgencias etc. Además de procesos administrativos como
                            generación de honorarios médicos, estadísticas, transacciones etc.
                        </p>
                        <p>
                            Entre las principales actividades realizadas a lo largo de estos 5 años se encuentran:
                            <ul>
                                <li>
                                    Analisis y toma de requerimientos, desarrollo de soluciones y mantenimiento de plataformas web, movil.
                                </li>
                                <li>
                                    Desarrollo de aplicación web usando Sql Server, JAVA EE, Spring Framework, JSF, Primefaces, Jquery y Bootstrap.
                                </li>
                                <li>
                                    Desarrollo de aplicaciones moviles en Android y Ionic Framework.
                                </li>
                                <li>
                                    Desarrollo de aplicaciones con Angular Framework.
                                </li>
                                <li>
                                    Desarrollo e implementación de webservice tipo SOAP y REST.
                                </li>
                                <li>
                                    Desarrollo de apis en Node JS.
                                </li>
                            </ul>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Formacion -->
        <div class="row pb-5">
            <div class="col-12">
                <h3>Formaci&oacute;n</h3>
                <ul class="ul-content">
                    <li class="mb-3">
                        <h4>Ingeniero de Sistemas</h4>
                        <strong>Universidad del Valle</strong> 
                        <small>(2016 - Actualidad)</small>
                    </li>
                    <li class="mb-3">
                        <h4>Tecnólogo en Sistemas de Información</h4>
                        <strong>Universidad del Valle</strong> 
                        <small>2015</small>
                    </li>
                    <li class="mb-3">
                        <h4>Bachillera tecnico especialidad comercial en contabilidad y finanzas</h4>
                        <strong>Colegio Americano</strong> 
                        <small>2010</small>
                    </li>
                </ul>
            </div>
        </div>

        <!--Competencias-->
        <div class="row pb-5">
            <div class="col-12">
                <h3>Habilidades</h3>
                <div class="row">
                    <div class="col-4">
                        <h5>Backend</h5>
                        <ul>
                            <li>Java EE</li>
                            <li>Node JS (Express)</li>
                            <li>Microservicios Spring Boot</li>
                            <li>Webservice Spring, Jersey</li>
                            <li>Websockets (Socket.io)</li>
                        </ul>

                        <h5>Servidores</h5>
                        <ul>
                            <li>Windows Server</li>
                            <li>Linux (Ubuntu, Centos)</li>
                        </ul>
                    </div>

                    <div class="col-4">
                        <h5>Frontend</h5>
                        <ul>
                            <li>HTML, JS</li>
                            <li>CSS3, SASS, SCSS</li>
                            <li>Bootstrap 3, 4</li>
                            <li>Materialize</li>
                            <li>Primefaces</li>
                            <li>Java Server Faces</li>
                            <li>Angular</li>
                            <li>Ionic Framework</li>
                            <li>Android</li>
                        </ul>
                    </div>

                    <div class="col-4">
                        <h5>Base de Datos y BI</h5>
                        <ul>
                            <li>Sql Server 2014 - 2016</li>
                            <li>Mongo Db</li>
                            <li>PostgreSQL</li>
                            <li>Bodega de Datos</li>
                            <li>ETL (SQL Server Data Tools)</li>
                            <li>ETL (Pentaho)</li>
                        </ul>

                        <h5>Control de Versiones</h5>
                        <ul>
                            <li>Git, Github, Gitlab</li>
                            <li>Team Foundation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
</html>