<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CV Guillermo</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="../../css/frontend/css.cv.guillermodlc.css">
</head>

<body>
    <div class="container">
        <section>
            <div>
                <div><img src="../../img/frontend/guillermoDeLaCruz/guillermodlc.jpg" alt="avatar" class="avatar"></div>
            </div>
            <div>
                <div class="my-name">Guillermo De La Cruz Onton</div>
                <div class="my-title">Desarrollador Backend y Mobile Apps</div>
                <div>Edad: 23 años</div>
                <div>
                    <a href="mailto:guillermo.dlco@outlook.com">Correo: guillermo.dlco@outlook.com</a>
                </div>
                <div class="links">
                    <div class="link-item">
                        <a href="https://github.com/GuillermoDLCO">github.com</a>
                    </div>
                    <div class="link-item">

                        <a href="mailto:guillermo.dlco@outlook.com">linkedin.com</a>
                    </div>
                    <div class="link-item">
                        <a href="tel:979301935">979301935</a>
                    </div>
                </div>

                <p>Desarrollador con gran pasión por explorar nuevas tecnologías y mejorar el performance de sus
                    proyectos. Agilidad para trabajar con equipos de desarrollo. Proactivo y con muchas ganas de seguir
                    aprendiendo.</p>
            </div>
        </section>

        <section>
            <div class="section-title">Experiencia</div>
            <div>
                <div class="job">
                    <div class="job-title-container">
                        <div>
                            <div class="job-company">Entura Peru - World Data</div>
                            <div class="job-title">Analista Programador</div>
                        </div>
                        <div>
                            Mayo 2019 - Actualidad
                        </div>
                    </div>
                    <p>Desarrollo y actualizacion de switch transaccional para cooperativas del Perú.</p>
                    <p>Desarrollo de aplicaciones Android y iOS en Xamarin. WalletOn es una de las aplicaciones
                        desarrolladas, es una billetera movil que logra controlar las cuentas ahorros de cooperativas
                        del pais y tiene funcionalidades innovadoras para pagar en comercios y realizar transferencias
                        entre socios.</p>
                </div>

            </div>
        </section>

        <section>
            <div class="section-title">Educaci&oacute;n</div>
            <div>
                <div class="job">
                    <div class="job-title-container">
                        <div>
                            <div class="job-company">Universidad Peruana de Ciencias Aplicada - UPC</div>
                            <div class="job-title">Estudiante Ingeniería de Sistemas</div>
                        </div>
                        <div>
                            Marzo 2018 - Actualidad
                        </div>
                    </div>
                </div>
                <div class="job">
                    <div class="job-title-container">
                        <div>
                            <div class="job-company">SENATI</div>
                            <div class="job-title">Profesional T&eacute;cnico Titulado en Electr&oacute;nica Industrial
                            </div>
                        </div>
                        <div>
                            Febrero 2013 - Diciembre 2015
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="section-title">Competencias</div>
            <div>
                <div class="skills-container">
                    <ul>
                        <li>Java</li>
                        <li>C#</li>
                        <li>Xamarin</li>
                        <li>Flutter</li>
                        <li>SQL Server / MySql</li>
                    </ul>

                    <ul>
                        <li>Html</li>
                        <li>Css</li>
                        <li>Spring Framework</li>
                        <li>Hibernate</li>
                        <li>Git</li>
                    </ul>

                    <ul>
                        <li>Java EE</li>
                        <li>Rest Web Service</li>
                        <li>Soap Web Service</li>
                        <li>Jasper Reports</li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <div class="section-title">Intereses</div>
            <div class="interests-container">
                <div>Cloud Computing</div>
                <div>Blockchain</div>
                <div>Frontend development</div>
            </div>
        </section>


    </div>
</body>

</html>