<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/frontend/css.cv.elizabethvillarpando.css">
    <title>Eli Villarpando</title>
</head>
<body>

        
   
        




        <table>
                <tr>
                    <td>
                            <div> <img src="https://doc-14-as-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/4k5sl3o6n9p5j4n3gs49k10tcripflmh/1566669600000/02709824835771194404/*/1gnskujg5DKW_g-2wBqoDXkPm9LM0HGjv" alt="picture Profile"><br>
                                <br></b> <br>
                                </div>
                    </td>
                    <td>
                            <div>
                                    <table class=tStyle border="1">
                                        <tr>
                                            <td class="Sub" colspan="2" align="center">Informaci&oacute;n</td>
                                        </tr>
                                        <tr>
                                            <td>Nombre Completo: </td>
                                            <td>Elizabeth Villarpando</td>
                                        </tr>
                                        <tr>
                                            <td>Nivel Academica:</td>
                                            <td><ul>
                                                <li>Estudiante en Sistemas</li>
                                                <li>Estudiante en TIS</li>
                                            </ul></td>
                                        </tr>
                                        <tr>
                                            <td>Correo Electronico: <br></td>
                                            <td>villarpandoeli@gmail.com <br></td>
                                        </tr>
                                        <tr>
                                            <td>GitUser</td>
                                            <td>elizabethvv</td>
                                        </tr>
                                    </table>
                                </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
            
              
            
            <br>
            <div>
                <table class="tStyle" border ="2">
                    <tr>
                        <td class="Sub" colspan="2" align="center">Habilidades </td>
                    </tr>
                    <tr>
                        <td><ul>
                            <li>Responsalibilidad</li>
                            <li>Trabajo en equipo</li>
                            <li>Analisis</li>
                            <li>Dise&ntilde;o de redes</li>
                        </ul></td>
                        <td><ul>
                          <li> Programaci&oacute;n  b&aacute;sica (C++, Java)</li>
                          <li> Ingl&eacute;s Intermedio</li>
                          <li>Base de datos (Sql, Mysql)</li>
                          <li>Manejo de Packet Tracert</li>
                        </ul></td>
                    </tr>
                </table>
            </div>
            <br>
      <div>
            <hr>
            <br>
          <p>
           Tiene 19 años,ha participado en concursos de la ACM, RPC. <br>
           Forma parte la comunidad <a href="https://es-la.facebook.com/mentorHerBo/">MentorHer</a> , <a href="https://www.meetup.com/es-ES/GDG-Sucre/">GDG Sucre. </a> <br>
           Va en su segundo año en la Universidad, no cuenta con experiencia Laboral, pero est&aacute; ansiosa de aprender.   <br>  
        </p>
          <hr>
          <br>
          <span> Cabe mencionar que esta es su primera pagina web realizada por lo tanto el diseño no es muy lindo.</span>

      </div>
</body>
</html>