<html>
    <head>
        <title> Gerardo cueva </title>
        <link rel="stylesheet" href="../../css/frontend/css.cv.Gerardocueva.css"">
    </head>
    <body>
        <div id="container">
            <div id="post">
                <div id="cabecera">
                    Gerardo cueva
                    <span id= "tagline">  Curriculum vitae
                       
                    </span>
                </div>
               <h1> Datos personales </h1>
               <div class="col-3">
                <h3>Informaci&oacute;n</h3>
                <p>
                    <ul class="fa-ul ul-info">
                        <li><i class="fa-li fa "></i>Edad: 20 A&ntilde;os</li>
                        <li><i class="fa-li fa "></i>gerardoooocueva@hotmail.com</li>
                         <li><i class="fa-li fa "></i>San Juan, Agentina </li>
                        
                    </ul>
                </p>
            </div>
        </div>
        

        <!-- Estudios  -->
        <div class="row pb-5">
            <div class="ul-content">
                <h3>Estudios</h3>
                <ul class="ul-content">
                    <li class="mb-3">
                      <h4> Bachillerato columna cabot </h4> 
                       <small>2016</small>
                     </li>
                     
                <ul class="ul-content">
                    <li class="mb-3">
                        <h4>licenciatura en informatica </h4>
                        <strong>Universidad siglo xxi</strong> 
                        <small>(2017 - Actualidad)</small>
                 
                   
            </div>
        </div>
                <!-- lenguajes  -->
        <div class="row pb-5">
            <div class="ul-content">
                <h3>lenguajes</h3>

                <ul class="ul-content">
                    <li class="mb-3">
                      <h4> Java </h4> 
                     </li>
                     
                <ul class="ul-content">
                    <li class="mb-3">
                        <h4>Pyton</h4>
                        
           </div>
        </div>
    </body>
</html>
